body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#navImg img {
    width: 100%;
    position: relative;
    top: 0;
    height: 100vh
}

#logo img {
    width: 100px;

}

nav {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: black;
    opacity: 0.5;
}

nav ul {
    list-style: none;
    font-size: 1.2rem;
    color: white;
    margin: 0;
    padding: 0;
}

nav ul li {

    padding: 0 10px;
}

a {
    text-decoration: none;
    color: white;
}



nav ul {
    margin-left: auto;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* responsive navbar */
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: black;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }


    .nav-menu ul.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-item {
        margin: 1rem 0;
        color: black
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* gallery css */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: space-around;
    align-items: center;
}



.column img {
    margin-top: 8px;
    vertical-align: middle;
    height: 582px;
    width:325px;
   

}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column img {margin-left: auto;
    margin-right: auto;}
    
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column img {
        margin-left: auto;
        margin-right:auto;
    }
}

/* css footer */
footer #logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer {
    background: url(../images/alexander-slattery-1qjdMJ9zlKk-unsplash.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: 1.2rem;
    color: white;
    margin-top: 20px;

}

.footer_section {

    display: flex;
    justify-content: space-around;
}

.contact_form form {
    display: flex;
    flex-direction: column;
}

.contact_form input {
    outline: none;
    border: none;
    background: none;
    ;
    border-bottom: 2px solid #fff;
    margin-bottom: 10px;
    font-size: 1rem;

}

.contact_form form input::placeholder {
    color: #fff;
}

.contact_form form textarea::placeholder {
    color: #fff;
}

.contact_form form textarea {
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 1rem;
    min-width: 200px;
    max-width: 200px;
    min-height: 80px;
    max-height: 80px;
}

textarea::-webkit-scrollbar {
    width: 1em;
}

textarea::-webkit-scrollbar-thumb {
    background-color: white;
}

.contact_form form #button {
    border: 2px solid #fff;
    border-radius: 20px;
    margin-top: 20px;
    color: white;
    width: fit-content;
    padding: 2px 20px;
    margin-left: auto;
    margin-right: auto;
}

.socialMedia-icons {
    margin-top: 20px;
    text-align: center;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid white;
    margin: 1em 0;
    padding: 0;
}

.copyright {
    text-align: center;
}


@media only screen and (max-width: 1200px) {

    .footer_section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer_section h3 {
        text-align: center;
    }

    .footer_section ul {
        text-align: center;
    }

    .footer_section p {
        text-align: center;
    }

}