body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#navImg img {
    width: 100%;
    position: relative;
    top: 0;
    height:100vh
}

#logo img {
    width: 100px;
   
}

nav {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: black;
    opacity:0.5;
}

nav ul {
    list-style: none;
    font-size: 1.2rem;
    color: white;
    margin: 0;
    padding: 0;
}

nav ul li {

    padding: 0 10px;
}
a {
    text-decoration: none;
    color:white;
}



nav ul {
    margin-left:auto;
}
.nav-menu {
    display: flex;
        justify-content: space-between;
        align-items: center;
}
/* responsive navbar */
.hamburger {
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

@media only screen and (max-width: 1200px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: black;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }


 .nav-menu ul.active {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

    .nav-item {
        margin: 1rem 0;
        color:black
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
}
/* counter css */
:root {
    --container: 112rem;
    --m-auto: 0 auto;
    --white: #fff;
    --bg-hero: black;
    --bg-counter: url("/images/bg_counter.png");
    --bg-item: #144361;
}
.container {
    max-width: var(--container);
    margin: var(--m-auto);
    padding: 0 1rem;
}
#section_counter {
    padding: 5rem 0;
    background-image: var(--bg-counter);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.counter-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}
.counter-item {
    background: var(--bg-item);
    opacity:0.8;
    padding: 3rem 1.5rem;
    text-align: center;
    border-radius: 1rem;
    transition: all 0.5s ease-in-out;
    transform: translateY(6rem);
}
.counter-item h3 {
    color:white;
    font-weight: bold;
    font-size:1.4rem;
}
.counter-item:hover {
    background: var(--bg-hero);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.counter {
    margin-bottom:0px;
}

.counter-item .counter {
    font-size: 4.5rem;
    color: transparent;
    color: transparent;
    letter-spacing: 0.5rem;
    -webkit-text-stroke-width: 0.15rem;
    -moz-text-stroke-width: 0.15rem;
    -ms-text-stroke-width: 0.15rem;
    -o-text-stroke-width: 0.15rem;
    -webkit-text-stroke-color: var(--white);
    -moz-text-stroke-color: var(--white);
    -ms-text-stroke-color: var(--white);
    -o-text-stroke-color: var(--white);
}
@keyframes slide-up {
    0% {
        transform: translateY(6rem);
    }

    100% {
        transform: translateY(0rem);
    }
}

/* css choose us section */
.choose_us{
    margin-bottom:50px;
    text-align: center;
}
.reasons {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.choose_us img{
    width:150px;
    background-color: #144361;
    border-radius: 50%;
    padding:10px;
    display: block;
        margin-left: auto;
        margin-right: auto;
    filter: drop-shadow(10px 10px 10px #144361);
    margin-bottom: 10px;
    
}
.choose_us h3 {
    text-align: center;
    font-size: 3rem;
    display: inline-block;
    position: relative;
    margin: 40px auto;

}

.choose_us h3::before {
    content: '';
    position: absolute;
    left: 20%;
    display: inline-block;
    height: 1em;
    width: 50%;
    border-bottom: 4px solid;
    margin-top: 10px;
}
.reason h4,p {
    text-align: center;
    width:15vw;
}
.reason h4 {
    font-size: 1.2rem;
    margin: 0px;
}
.reason p {
    margin: 0px;
    font-size:1rem;
}

#showMe {
    display: none;
}
#hoverMe:hover~#showMe {
    background-color:black;
    opacity:0.8;
    color:white;
    border-radius: 20px;
    padding:5px;
    display:block;
    transition: ease-in-out 0.3s;

}
@media only screen and (max-width: 768px) {
.reasons {
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }
    .reason {
        margin-bottom: 10px;
    }
        .reason h4 {
            margin-left:auto;
            margin-right:auto;
        
        }
        
                 .reason p {
                     margin-left: auto;
                     margin-right: auto;
                     width: 25vw;
                 }
}

/* css slider */
.viewAll{
 margin-left:auto;
    margin-right:auto; 
    text-align: center; 
    margin-bottom: 10px; 
}
.viewAll a {
    
    background-color: #144361;
    color:white;
    width:100px;
    border-radius: 10px;
    padding:5px;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
}
#DestinationsHeader {
    width: 100%;
    text-align: center;
        font-size: 3rem;
        display: inline-block;
        position: relative;
        margin: 0px auto;
}

.image_full,
.media-links-full {
    display: block;
}
.duo {
    display:flex;
    justify-content: space-between;
}

.image_mobile,
.media-links-mobile {
    display: none;
}
.slider-container {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    top: 0px;
    margin-top: 20px;
    margin-bottom:20px;
}

.slider {
    width: 100%;
    height: 525px;
    text-align: center;
    border-radius: 20px;
    position: relative;
    top: 0;
    overflow: hidden;
    margin-top: 0;
}

.slides {
    display: flex;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    top: 0;
    margin-top: 0;
}



.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 525px;
    margin-right: 0px;
    box-sizing: border-box;
    background: white;
    transform-origin: center center;
    transform: scale(1);
    scroll-snap-align: center;
}
.slide img {
    height:525px;
    width:325px;
    margin-right: 20px;
}

.slide img .image_3 {
    margin-right:0px;
}
.slide__text {
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
}

.slide a {
    position: absolute;
    top: 48%;
    width: 35px;
    height: 35px;
    border: solid black;
    border-width: 0 4px 4px 0;
    padding: 3px;
    box-sizing: border-box;
}

a.slide__prev {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 5%;
}

a.slide__next {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 5%;
}

@media only screen and (max-width: 1200px) {
.image_full,
    .media-links-full {
        display: none;
    }

    .image_mobile,
    .media-links-mobile {
        display: block;
    }
        .slide img {
            height: 525px;
            width: 325px;
            margin-right: 0px;
        }

}
/* css blog posts */
#BlogPostsHeader {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    display: inline-block;
    position: relative;
    margin: 40px auto;
}


.container3 {
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card {
    height: 280px;
    max-width: 350px;
    margin: 0 20px;
    background: white;
    transition: 0.4s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.card:hover {
    height: 470px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.card .img {
    height: 200px;
    width: 100%;
}

.card .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card .top-text {
    padding: 5px;
}

.card .top-text .name {
    font-size: 25px;
    font-weight: 600;
    color: #202020;
}


.card .bottom-text {
    padding:5px;
    margin-top: 5px;
    background: white;
    opacity: 0;
    visibility: hidden;
    transition: 0.1s;
}

.card:hover .bottom-text {
    opacity: 1;
    visibility: visible;
}

.card .bottom-text .text {
    text-align: justify;
}

.card .bottom-text .btn {
    margin: 10px 0;
    text-align: right;
}

.card .bottom-text .btn a {
    text-decoration: none;
    background: #144361;
    color: #f2f2f2;
    padding: 5px 8px;
    border-radius: 20px;
    display: inline-flex;
    transition: 0.2s;
}

.card .bottom-text .btn a:hover {
    transform: scale(0.9);
}

@media screen and (max-width: 978px) {
    .container3 {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .card {
        max-width: 700px;
        margin: 20px 0;
    }
}

/* css footer */
footer #logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:150px;
}
footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer {
   background: url(../images/alexander-slattery-1qjdMJ9zlKk-unsplash.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;  
    font-size: 1.2rem; 
    color:white;

}
.footer_section {
   
    display:flex;
    justify-content: space-around;
}
.contact_form form{
    display:flex;
    flex-direction: column;
}
.contact_form input {
    outline:none;
    border:none;
    background: none;;
    border-bottom: 2px solid #fff;
    margin-bottom:10px;    
    font-size:1rem;

}
 
.contact_form form input::placeholder{
    color:#fff;
}
.contact_form form textarea::placeholder {
    color: #fff;
}

.contact_form form textarea {
    background:none;
    border: none;
    outline:none;
    border-bottom: 2px solid #fff;
    color:#fff;
    font-size: 1rem;
    min-width:200px;
    max-width:200px;
    min-height:80px;
    max-height:80px;
}
textarea::-webkit-scrollbar{
    width:1em;
}

textarea::-webkit-scrollbar-thumb {
    background-color: white;
}
.contact_form form #button {
    border:2px solid #fff;
    border-radius: 20px;
    margin-top:20px;
    color:white;
    width:fit-content;
    padding:2px 20px;
    margin-left: auto;
    margin-right:auto;
}
 .socialMedia-icons {
     margin-top: 20px;
     text-align: center;
 }
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid white;
    margin: 1em 0;
    padding: 0;
}

.copyright {
    text-align: center;
}


@media only screen and (max-width: 1200px) {

    .footer_section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer_section h3 {
        text-align: center;
    }

        .footer_section ul {
            text-align: center;
        }
                .footer_section p {
                    text-align: center;
                }
                                
}