body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size:1.5rem;
}


.four_zero_four_bg img{
    width:100%;
}


.four_zero_four_bg h3 {
    font-size: 1.6rem;
}

.link_404 {
    color: #fff;
    padding: 10px 20px;
    background: #144361;
    margin: 20px 0;
    display: inline-block;
}


.content_box_404 {
    margin-top:50px;
}

a:link, a:hover {
    text-decoration: none;
    background-color: green;
    color:white;
}
